@{
    ViewData["Title"] = "Strona główna";
}

<div class="text">
    <h1 class="display-4">Witaj! Restauracja RIGCz</h1>
    <p>Zapraszamy na wspaniałe tradycyjne żarełko.</p>
    <p>Od poniedziałku do czwartku 12.00 - 18.00</p>
    <p>Piątek - sobota 14 - 20 </p>
    <p>Niedziela nieczynne.</p>
    <p>Gwarantujemy smak jak u mamy/babci.  </p>
</div>
